.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
  
  .modal-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
  
  .modal-content {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    min-width: 300px;
  }

  .modal-content-title{
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }

  .modal-content-button{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }

.modal-content-info-item-title{
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.modal-content-info-item-name{
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.modal-content-info-item-description{
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.modal-content-info-item-duration{
  color: black;
  font-size: 16px;
  font-weight: bold;
}