.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
    max-width: 1200px;
}

.table-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.list-hours-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.list-days-item{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
}