.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto 50px 240px;
    width: 1280px;
    border-radius: 32px;
    padding: 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff;
}

.table-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.list-hours-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding-top: 10px;
}

.list-days-item{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 90px;
    position: relative;
    bottom: 40px;
    z-index: 1;
}

.list-hours-item-li{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
}

.table-header-day{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #ffffff;
    width: 140px;
    height: 75px;
    border-top: 1px solid #ffffff;
}

.table-row{
    height: 50px;
    border-bottom: 1px solid #ffffff;
}

.day-cell, .hour-cell, .table-header-title{
    border-right: 1px solid #ffffff;
}

.schedule-table{
    border-collapse: collapse;
}

.table-header-title{
    width: 100px;
    text-align: center;
    border-left: 1px solid #ffffff;
    width: 140px;
    height: 75px;
    border-top: 1px solid #ffffff;
}

.hour-cell{
    border-left: 1px solid #ffffff;
}