.header-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ff8800;
    background-color: rgb(13, 4, 95);
}

.header-content-1{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header-content-2{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-logo{
    width: 250px;
    height: 250px;
}

.header-title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
}

.header-title-strong{
    color: #ff8800;
}

.header-title-routin{
    color: #3658C2;
}

.header-title-app{
    color: #ff8800;
}